/*====Палитра цветов=====  */
/* цвет актива #2196F3 
цвет текста #212121
вторичный цвет текста #757575
белый цвет #FFFFFF
белый вторичный rgba(255, 255, 255, 0,6)
цвет фона основной #FFFFFF 
цвет фона 1 #2F303A 
цвет фона 2 #E5E5E5 
цвет фона 3 #F5F4FA  
цвет неактивной кнопки #F5F4FA 


/* I.=============== Разметка index.html и root ===============*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --bg-one: #2f303a;
  --bg-two: #e5e5e5;
  --bg-three: #f5f4fa;
  --logo-color: #afb1b8;
  --button-hover: #188ce8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif, Raleway, sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nodecoration {
  text-decoration: none;
}
/* ==================Стилизация Шапки header ===============*/
.header {
  border-bottom: 1px solid #ececec;
}

/* ==================Стилизация Логотипа  logo ===============*/
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Меняю цвет логотипа , теперь studio будет черным в шапке и белым в футере*/
.accent {
  color: var(--title-text-color);
}
.accent-footer {
  color: var(--primary-white-color);
}

/* ===============Стилизация container =============== */

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* ===============Стилизация списка nav (навигация страницы) ===============*/

.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* ==================Стилизация списка contacts ===============*/
.contacts {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.contacts-link .contacts-icon,
.contacts-link .contacts-icon {
  margin-right: 10px;
  fill: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: var(--accent-color);
}

/* ==================Стилизация секции hero===============*/
/* смена фона секции Hero и Футера */
.hero,
.footer {
  background-color: var(--bg-one);
}
.hero {
  min-height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg/bg-img-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
/* ==================Стилизация кнопки в секции hero ===============*/
.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}
/* ==================Стилизация features ===============*/
.job-title,
.crew-title,
.clients-title {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feat-list {
  display: flex;
  flex-wrap: wrap;
}
.feat-list .item {
  width: 270px;
  margin-right: 30px;
}
.feat-list .item:nth-last-child(-n + 1) {
  margin: 0;
}
.feat-icon {
  width: 270px;
  height: 120px;
  background-color: var(--button-bg-color);
  border-color: var(--button-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px 25px 100px;
}
.icon {
  width: 70px;
  height: 70px;
}
/* ==================Стилизация  секции Чем мы занимаемся ===============*/

.job {
  padding-top: 0;
}
.job-list {
  display: flex;
  flex-wrap: wrap;
}
.job-list .item {
  margin-right: 30px;
}
.job-list .item:nth-last-child(-n + 1) {
  margin: 0;
}
/* ==================Стилизация секции Наша команда ===============*/
.crew-list {
  display: flex;
  flex-wrap: wrap;
}
.crew-list .item {
  width: 270px;
  margin-right: 30px;

  background-color: var(--primary-white-color);
}
.crew-list .item:nth-last-child(-n + 1) {
  margin: 0;
}

.crew-members {
  background-color: var(--bg-three);
}

.member-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.crew-list .title {
  margin: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.crew-list .text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.social-icon-list {
  display: flex;
  justify-content: center;
}

.social-icon-list .social-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon-list .link {
  display: flex;
  width: 44px;
  height: 44px;
  border: 1px transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--logo-color);
}

.social-icon-list .link:hover,
.social-icon-list .link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* ========================Стилизация Постоянных Клиентов================== */
.logo-list {
  display: inline-flex;
}
.logo-list .link {
  display: flex;
  width: 170px;
  height: 92px;
  fill: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.logo-list .link:hover,
.logo-list .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.logo-list .item {
  margin-right: 30px;
}
.logo-list .item:nth-last-child(-n + 1) {
  margin: 0;
}

/* ==================Стилизация адреса  ===============*/
.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.address .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.address .geo {
  color: var(--primary-white-color);
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.ad-list .item {
  display: block;
  margin-bottom: 9px;
}
.ad-list .item:nth-last-child(-n + 1) {
  margin: 0;
}

.social-container {
  margin-left: 70px;
}
.social-container .text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin: 0;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
}
.social-footer-list .link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--primary-white-color);
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}
.social-footer-list .item:not(:last-child) {
  margin-right: 10px;
}
.social-footer-list .link:hover,
.social-footer-list .link:focus {
  background-color: var(--accent-color);
}

/* II. ==================Стилизация страницы portfolio.html ===============*/

/* ==================Стилизация кнопок секции hero-portfolio  ===============*/
.btn {
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-list .item {
  margin-right: 8px;
}
.btn-list .item:nth-last-child(-n + 1) {
  margin: 0;
}
/* ==================Стилизация Примеров наших работ  ===============*/

.work-example {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.works .title {
  margin: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .text {
  margin: 0;

  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.works {
  display: flex;
  flex-wrap: wrap;
}
.works .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works .item:nth-child(3n) {
  margin-right: 0;
}
.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.works .link {
  display: block;
  text-decoration: none;
}
.works .link:hover,
.works .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.works img {
  display: block;
}
